#root {
  background-image: url("file:///D:/web-design-nurbike/nurbike.github.io/image/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("file:///D:/web-design-nurbike/nurbike.github.io/image/background.jpg");
}

.header {
  color: white;
}

.portfolio-title {
  color: white;
}

.project-image {
  border-color: white;
}

.project-description {
  background: white;
}
.about-me {
  color: white;
}

a:link {
  color: gray;
}

a:visited {
  color: white;
}

.contact {
  color: white;
}
